html, body{
    margin:0px; 
    padding:0px;
    background-attachment: fixed;
    z-index: 5;
    background-size: cover;
    background-position: top;
}

h3 {
  margin: 6%;
  font-family: "Open Sans", Aerial, sans-serif;
  font-size: 25px;
}

.logo {
  transform: translate(100px, 350%);
  position: fixed;
  z-index: 1;
}

.triangle {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    width: 50%;
    height: 140px;
    background: linear-gradient(to right bottom, #EB7235 50%, transparent 50%);
    float: left;  
}
.triangle2{
    z-index: 999;
    width: 50%;
    height: 140px;
    background: linear-gradient(to left bottom, #EB7235 50%, transparent 50%);
    display: inline-block;
    position: fixed;
    right: 0px;
    top: 0px;
}
  
.sec1 {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  /* position: relative; */
 }
  
  .firstbreak {
    height: 50px;
    width: 100vw; 
    background: #eb7235;
    position: relative;
    z-index: 6;
  }
  
  .firstbreak:before {
    content: '';
    position: absolute;
    border-bottom: 100px solid #eb7235;
    border-left: 100vw solid transparent;
    top: -100px;
  }
  .firstbreak:after {
    content: '';
    position: absolute;
    border-top: 100px solid #eb7235;
    border-right: 100vw solid white;
    bottom: -100px;
    z-index: 1;
    background-color: white;
  }

.article-title {
  text-align: right;
  padding-right: 2em;
  font-size: 48px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  display: inline-block;
  float: right;
  width: 335px;
}

.title-clearfix {
  margin-top: 70px;
  min-height: 4em;
  background-color: white;
  z-index: 4;
}

.article-title hr:nth-child(1) {
  margin: 0px;
  color: #FBE976;
  height: 0.2em;
  background: #FBE976;
  border: 0;
  width: 65%;
  float: right;
}

.article-title hr:nth-child(2) {
  margin: 0px;
  color: #FBE976;
  height: 0.2em;
  background: #FBE976;
  border: 0;
  /* float: right; */
}
.about {
    background: white;
    color: darkslategrey;
    font-family: "Open Sans";
    /* margin-bottom: 0px;
    padding-bottom: 0px; */
    display: inline-block;
    z-index: 5;
    position: relative;
}

.about-text {
  margin-left: 200px; /* need media query so this disappears on mobile */
  /* width: 50vw; */
  padding-right: 100px;
  font-family: "Open Sans";
  font-size: 28px;
  color: darkslategrey;
  /* margin-bottom: 100px; */
  padding-bottom: 150px;
  position: relative; 
  background-color: white;
  z-index: 6;
  overflow: auto;
}

#first-paragraph {
  margin-top: 100px;
}

.contact {
  background-color: white;
  margin-top: -200px;
  padding-top: 0px;
  width: 100vw;
  height: 110vh;
  z-index: 5;
  position: relative;
}

.contact-form {
  /* position: relative; */
  height: 40%;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 0px;
  float: right;
  padding-right: 200px;
}

form * {
  vertical-align: top;
  display: block; 
  float: right;
  width: 100%;
}

form input, textarea {
  margin-left: 30px;
}

label {
  background-color:white;
  clear: left;
  text-align: right;
}

input, textarea {
  display: inline-block;
  width: 38rem;
  padding: .4rem;
  height: 15px;
  border: solid;
  border-color: #FBE976;
  background-color: #f2f2f2;
  border-width: 0.5px;
  border-radius: 4px;
}

textarea {
  height: 9rem;
}
button {
  background-color: #fbe976;
  color: darkslategrey;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* float: right; */
  /* display: block; */
  width: 100px;
}

button:hover {
  background-color: pink;
}

.social-badges {
  color: #eb7235;
  font-size: 70px;
  vertical-align: bottom;
  /* padding-top: 200px; */
  text-align: center;
  position: relative;
  top: 60px;
  /* overflow: auto; */
}

.fa-github-square {
  color: #eb7235;
}

.fa-github-square:hover {
  color: #fbe976;
}

.article-title-flipped {
  text-align: right;
  padding-right: 2em;
  font-size: 48px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  display: inline-block;
  float: right;
  width: 335px;
  z-index: 7;
}

.title-clearfix-flipped {
  margin-left: 800px;
  margin-top: 12px;
  min-height: 4em;
  float: right;
  z-index: 1117;
}

.article-title-flipped hr:nth-child(1) {
  margin: 0px;
  color: #FBE976;
  height: 0.2em;
  background: #FBE976;
  border: 0;
  z-index: 7;
}
.article-title-flipped hr:nth-child(2) {
  margin-top: 70px;
  color: #FBE976;
  height: 0.2em;
  background: #FBE976;
  border: 0;
  width: 65%;
  float: right;
  z-index: 7;
}

.secondbreak {
    height: 50px;
    width: 100%;
    background: #eb7235;
    position: relative;
    z-index: 100;
  }
  
  .secondbreak:before {
    content: '';
    position: absolute;
    border-bottom: 100px solid #eb7235;
    border-right: 100vw transparent solid;
    top: -100px;
    background-color: white;
  }
  .secondbreak:after {
    content: '';
    position: absolute;
    border-top: 100px solid #eb7235;
    border-left: 100vw white solid;
    bottom: -100px;
    /* z-index: 1; */
  }

  .projects {
    /* min-height: 1500px; */
    background: white;
    color: darkslategrey;
    z-index: 2;
    position: relative;
    display: inline-block;
    padding-bottom: 100px;
  }

  .projects-text {
    font-family: Mina;
    font-size: 28px;
    margin-left: 200px; /* need media query so this disappears on mobile */
    /* width: 50vw; */
    /* padding-right: 500px; */
    color: darkslategrey;
    /* position: relative; */
    z-index: 7;
    overflow: auto;
  }

.project-text1 {
  font-family: Mina;
  font-size: 28px;
  margin-left: 200px; /* need media query so this disappears on mobile */
  /* width: 50vw; */
  padding-right: 500px;
  color: darkslategrey;
  position: relative;
  z-index: 7;
  overflow: auto;
}

.projects-text-header {
  font-family: Mina;
  margin-left: 200px;
  color: darkslategrey;
  position: relative;
  z-index: 7;
  overflow: auto;
}

h2 {
  padding-left: 1em;
  font-size: 60px;
}

.article-title-left {
  /* text-align: right; */
  padding-left: 2em;
  font-size: 48px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  display: inline-block;
  /* float: right; */
  width: 335px;
}

.title-clearfix-left {
  margin-top: 70px;
  min-height: 4em;
  z-index: 7;
}


.article-title-left hr:nth-child(1) {
  margin: 0px;
  color: #FBE976;
  height: 0.2em;
  background: #FBE976;
  border: 0;
  width: 65%;
  float: left;
}

.article-title-left hr:nth-child(2) {
  margin: 0px;
  color: #FBE976;
  height: 0.2em;
  background:#FBE976;
  border: 0;
  /* float: right; */
}


.end {
    height: 50px;
    width: 100%;
    background: #eb7235;
    position: relative;
    z-index: 6;
  }
  
  .end:before {
    content: '';
    position: absolute;
    border-top: 100px solid #eb7235;
    /* border-right: 100vw solid transparent; */
    /* bottom: -100px; */
  }
  .end:after {
    content: '';
    position: absolute;
    border-bottom: 100px solid #eb7235;
    border-left: 100vw solid transparent;
    top: -100px;
  }
/* @media (max-width: 400px) */
@media  (max-width: 500px) {
  .about-text {
    margin-left: 50px;
  }
  .projects-text {
    margin-left: 50px;
  }
}

.term-app-image {
  height: 400px;
  /* display: inline-block; */
  float: right;
  position: relative;
  padding-right: 100px;
}